
.notify{
    position: fixed;
    top: 70px;
    right: 0px;
    font-size: 16px;
    color: #000;
    background-color: rgb(58, 141, 58);
    padding: 10px;
    border-radius: 4px;
    width: 50%;
    z-index: 210;
}

.notify .added{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notify .added .check-added{
    display: flex;
    color: #fff;
}


.notify .close{
    cursor: pointer;
    color: #fff;
    padding: 3px 5px;
    background-color: #000;
    border-radius: 50px;
    font-size: 10px;
}