
.notify{
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 16px;
    color: #000;
    background-color: rgb(58, 141, 58);
    padding: 10px;
    width: 100%;
    z-index: 210;
}

.notify .added{
    display: flex;
    align-items: center;
    justify-content: right;
}

.notify .added .check-added{
    display: flex;
    color: #fff;
    text-align: center;
    flex: 1;
    margin-left: 650px;
}

.notify .added .check-added .good{
    margin-right: 10px;
}


.notify .close{
    cursor: pointer;
    color: #313133;
    font-size: 25px;
}


@media screen and (max-width:480px) {
    .notify .added .check-added {
        flex: 1;
        margin-left: 0px;
    }
    
}