@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto',-apple-system,'BlinkMacSystemFont,Segoe UI',Helvetica 'Neue',Arial,sans-serif;
}


/* body{
  background: #000; 
  
} */



.main-section{
  background: url(/src/Image/BFnew-bg.png);
  background-size:auto;
  width: 100%;
  height: 220vh;
  background-position: center;
  background-repeat: no-repeat;
}


img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #77b3d4;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}


.preloader img{
  height: 70px;
  animation: anime 1s ease infinite alternate;
}

/* .preloader.preload-finish{
  opacity: 0;
  pointer-events: none;
  animation: vanish 1s forwards;
} */

@keyframes anime {
  from{
      transform: scale(0.8) rotate(0deg);
  }
  to{
      transform:  scale(1.2) rotate(360deg);
  }
}
